/* body {
  font-family: Arial;
  padding: 20px;
  background: #f0f8ff;
  text-align: center;
}

form {
  margin: auto;
  max-width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #ccc;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("bg4.jpg");
  animation: gradient 15s ease infinite;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.glass-container {
  position: relative;
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 10;
  overflow: hidden;
}
.glass-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}
.glass-container:hover::before {
  left: 120%;
}

.glass-container h2 {
  font-size: 28px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.input-group {
  position: relative;
  margin-bottom: 30px;
}
.input-group input {
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.login-btn {
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}
.login-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
